# Build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# System files
.DS_Store
Thumbs.db

# Ruby-related
*.gem
*.rbc
.bundle/
vendor/
Gemfile.lock

# Log files
*.log

# IDEs/editors
.vscode/
.idea/
*.swp
*.swo

# Node-related (if using npm for assets)
node_modules/
package-lock.json

_site/
